/data/*
**/__pycache__/*

openalex_analysis.egg-info/
dist/

/jupyter_notebooks/.ipynb_checkpoints/*
/old_jupyter_notebooks/*
/.ipynb_checkpoints/*
/Tests*
Test3.ipynb
Institution_comparison_report.ipynb
Institution_comparison_tests.ipynb
Institution_comparison_report_engineering.ipynb

/doc/_build/doctrees

!/data/README.md

# Other files
.~lock*

# IDE files
.idea
