.venv

/data
**/__pycache__/*

openalex_analysis.egg-info/
dist/

/.ipynb_checkpoints/*

/doc/_build/doctrees

# Other files
.~lock*

# IDE files
.idea

# tests
tests/data
tests/*.svg

/sphinx-doc/notebooks/data

.log
